<form method="post" action="/songs">
  Song Name: <input type="text" name="Name" id="Name">
</br>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <%=genre.name%>
  </input>
</br>
  <% end %>
</br>
  Artist Name: <input type="text" name="Artist Name" id="Artist Name">
  <input type="submit" value="Create">
</form>
